:root {
  --primary-color: #55717e;
  --secondary-color:#024e76;
  --dark-color: #061b28;
  --tertiary-color: #39a6b2;
}

* {
	box-sizing: border-box;
}

main {
	background: linear-gradient(45deg,
		transparent,
		#b5b5b8);
	padding-bottom: 24px;
}

/* ------------------------- Social Icons elements -------------------------- */

.social-icons {
  width: 30px;
  margin: auto;
  border-radius: 90px;
  padding: 20px;
  margin-left: 5px;
  display: inline-block;
	transition: 0.5s;
	transform: scale(1);
	transition:transform 0.6s ease;
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  text-align: center;
}

.social-icons:hover {
	transform: 0.4s ease-in-out transform;
	transform: translateY(5px);
}

.side-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  grid-template-columns: 2fr 1fr;
}

.side-info {
  display: flex;
}

.side-info img {
  width: 50px;
  padding: 0 20;
}

.side-info-user-name {
  font-size: 18px;
  font-weight: 900;
}

.side-info-user-position {
  margin-top: -15px;
  color: rgb(106, 10, 10);
}

/* ------------------------- LandingPage elements -------------------------- */
.landing-h1 {
  font-size: 7em;
  animation-name: fade;
  animation-duration: 4s;
  text-shadow: #242627;
  color: white;
}

.landing-p {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color: white;
}

.humble-title {
  justify-self: flex-end;
  font-size: 2.15em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  text-align: center;
  font-style: italic;
}

.from-title {
  justify-self: flex-end;
  font-size: 1.15em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  text-align: center;
  font-style: italic;
}


.left-q {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  font-size: 3em;
  margin: 30px;
}

/* ------------------------- image elements -------------------------- */
img {
	max-width: 100%;
}

.right-q {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  vertical-align: right;
  font-size: 3em;
  margin: 30px;
}

.side-neb {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  align-items: center;
  font-size: 3em;
}

/* ------------------------- Dashboard elements -------------------------- */

#b-dash {
  justify-self: flex-end;
  font-size: 1em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  align-items: center;
}

#a-dash {
  justify-self: flex-end;
  font-size: 1em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  align-items: center;
}

#c-dash {
  justify-self: flex-end;
  font-size: 1em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  align-items: center;
}

#d-dash {
  justify-self: flex-end;
  font-size: 1em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  align-items: center;
}

.dash-h2 {
  justify-self: flex-end;
  font-style: italic;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  text-align: center;
  font-size: 3em;
  text-transform: italic;
}

.dash-p {
  justify-self: flex-end;
  font-size: 1.15em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  text-align: center;
  font-style: italic;
}

.faq-h2x {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  align-items: center;
  font-size: 3em;
}

/* ------------------------- Contact elements -------------------------- */

.contact-p {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  align-items: center;
  font-size: 1em;
  text-align: start;
}

.contact-h2 {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  align-items: center;
  font-size: 3em;
  animation-duration: 6s;
  padding: 20px;
  margin: 0px;
}


/* ------------------------- About elements -------------------------- */
.about-h2 {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  padding: 20px;
  margin: 0px;
  font-size: 3em;
}

.about-p {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  align-items: auto;
  font-size: 1em;
  text-align: center;
  margin: 0px;
}

/* ------------------------- FAQ elements -------------------------- */
.faq-h2g {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(231, 235, 240);
  align-items: center;
  font-size: 3em;
}

.faq-h2 {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(245, 247, 250);
  align-items: center;
  font-size: 3em;
}

.faq-h2x {
  justify-self: flex-end;
  font-size: 2em;
  animation-name: fade;
  animation-duration: 6s;
  color:rgb(37, 44, 55);
  align-items: center;
  font-size: 3em;
}


.faq-h2:hover {
	cursor: pointer;
}

  
.faq-p {
  text-decoration-line: underline;
}

.faq-p:hover {
	cursor: pointer;
}

/* ------------------------- Card elements -------------------------- */
  .card {
	flex: 40%;
	width: 100%;
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.card:hover {
	box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.rounded {
	transform: scale(1);
	transition:transform 0.6s ease;
}

.overflow-bg-dark-text-white-shadow-lg {
	overflow: hidden;
}

.rounded:hover {
	transform:scale(1.1);
}

/* ------------------------- Iframe elements -------------------------- */
.iframe {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}


/* ------------------------- LandingPage elements -------------------------- */


.landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 0.5s;
  font-family: serif;
} 

.video-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

.bg-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  z-index: 0;
}


.bar-over {
  width: 100%;
  height:6em;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.home-text {
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  /* font-family: "Cavergiz"; */
}

.home-btn {
  height: 2em;
  width: 6em;
  border: 2px solid white;
  border-radius: 0.25em;
  background-color: rgb(39, 78, 96);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  z-index: 1;
  align-items: center;
  cursor: pointer;
  
}

.home-btn:hover {
  background-color: #7eb8dc;
  transform: 0.4s ease-in-out transform;
	transform: translateY(2px);

}
/* Animation */
@keyframes fade {
  0% {
    opacity: 0;
    margin-left: 3em;
  }
  100% {
    opacity: 1;
  }
}


/* ------------------------- Dark Theme elements -------------------------- */

.dark {
  background-color: grey;
  color: white;

}
